<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>BikeSpace - Home</title>
    <link rel="manifest" href="/static/dist/manifest.json">

    <link type="text/css" rel="stylesheet" media="screen and (min-aspect-ratio: 1/1)" href="<%= assetpath %>style/stylesheet.css" />
    <link type="text/css" rel="stylesheet" media="screen and (max-aspect-ratio: 1/1)" href="<%= assetpath %>style/mobilesheet.css" />
    <link type="text/css" rel="stylesheet" href="<%= assetpath %>style/flatpickr.min.css" />
    <link type="text/css" rel="stylesheet" href="<%= assetpath %>style/leaflet.css" />
    <link type="text/css" rel="stylesheet" href="<%= assetpath %>style/leaflet-search.css" />
    <link rel="prefetch" href="<%= assetpath %>style/assets/icons/calendar.svg"/>
    <link rel="prefetch" href="<%= assetpath %>style/assets/icons/camera.svg"/>
    <link rel="prefetch" href="<%= assetpath %>style/assets/icons/upload.svg"/>
    <link rel="prefetch" href="<%= assetpath %>style/assets/icons/clock.svg"/>


    <!--favicon-->
    <link rel="icon" type="image/png" href="<%= assetpath %>style/assets/icons/bikespace32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="<%= assetpath %>style/assets/icons/bikespace16.png" />

    <!-- META Tags -->
    <meta property="og:title" content="Bikespace">
    <meta property="og:description" content="Report bike parking issues in Toronto.">
    <meta property="og:image" content="<%= assetpath %>assets/icons/bkespace-media-icon.jpg">
    <meta name="twitter:card" content="summary_large_image">

    <meta property="og:site_name" content="BikeSpace">
    <meta name="twitter:image:alt" content="BikeSpace logo on top of a parked bicycle">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
        crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
        crossorigin=""></script>

    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-W63KRL3');</script>
    <!-- End Google Tag Manager -->
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W63KRL3" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div id="render" class="backbike">

    </div>

</body>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3HcEXo5I-XxTyZPf34c6gTw20zBWFiNg">
</script>
<script>
    if ('serviceWorker' in navigator) {
        navigator.serviceWorker
            .register('/static/dist/sw.js')
            .then(function () { console.log('Service Worker Registered'); });
    }
</script>

</html>