*{
    font-family:'opensans';
    font-weight: normal;
    font-style: normal;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
@font-face {
    font-family: 'opensans';
    src: url('Open_Sans/OpenSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'opensans';
    src: url('Open_Sans/OpenSans-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'opensans';
    src: url('Open_Sans/OpenSans-SemiBold.ttf');
    font-weight: normal;
    font-style: italic;
}
strong {
    font-family: 'opensans';
    font-weight: bold;
}
em {
    font-family: 'opensans';
    font-weight: normal;
    font-style: italic;
    font-size: 5vw;
}

h1 {
    font-weight: bold;
    height: 4vh;
    padding-left: 3vh;
    padding-bottom: 3vh;
    font-size: 6vw;
}
.maintitle {
    font-weight: bold;
    padding-top: 30vh;
    text-align: center;
    color: #fff;
    margin-left: 0vh;
    padding-bottom: 3vh;
    font-size: 9vw;
}
h2 {
    font-size: 5vw;
    margin-left: 4vh;
    padding-bottom: 2vh;
}
a {
    text-decoration: none;
    color: inherit;
}

.tshadow {
    text-shadow: 4px 4px 4px #00000099;
}

.bshadow {
    box-shadow: 4px 4px 4px #00000099;
}

/*___________________________________________________________*/

body {
    overflow-x: hidden;
    margin: auto;
    height: 100%;
}
.backbike {
    background: url('background_images/yellowbike1920sq.jpg')no-repeat center;
    margin: auto;
    background-position: center 0vw;
    background-size: 100vh;
}

/*___________________________________________________________*/

header{
    position: fixed;
    width: 100%;
    margin-top: -13vh;
    background-color: #fff;
}

.title {
    background: url(icons/bikespace_header.svg) no-repeat center center;
    background-size: 30vh;
    height: 10vh;
    margin: auto;
    width: 30vh;
}

#error {
    position: fixed;
    z-index: 10;
    margin-top: -13vh;
    width: 100%;
    height: 10vh;
    background-color: #F24722;
}

#error h1 {
    padding-top: 2vw;
    padding-left: 6vh;
    padding-right: 3vh;
    font-size: calc(20px + 3vw);
    line-height: calc(17px + 3.5vw);
}


/*___________________________________________________________*/

.progress{
    position: relative;
    width: 3vw;
    margin: auto;
    border-radius: 1.5vw;
    height: 3vw;
    margin-bottom: 4vh;
}
.prog1 {
    box-shadow: -16vw 4vw 0px 0px #31C057,
                -8vw 4vw 0px 0px #ccc,
                0vw 4vw 0px 0px #ccc,
                8vw 4vw 0px 0px #ccc,
                16vw 4vw 0px 0px #ccc;
}
.prog2 {
    box-shadow: -16vw 4vw 0px 0px #31C057,
                -8vw 4vw 0px 0px #31C057,
                0vw 4vw 0px 0px #ccc,
                8vw 4vw 0px 0px #ccc,
                16vw 4vw 0px 0px #ccc;
}
.prog3 {
    box-shadow: -16vw 4vw 0px 0px #31C057,
                -8vw 4vw 0px 0px #31C057,
                0vw 4vw 0px 0px #31C057,
                8vw 4vw 0px 0px #ccc,
                16vw 4vw 0px 0px #ccc;
}
.prog4 {
    box-shadow: -16vw 4vw 0px 0px #31C057,
                -8vw 4vw 0px 0px #31C057,
                0vw 4vw 0px 0px #31C057,
                8vw 4vw 0px 0px #31C057,
                16vw 4vw 0px 0px #ccc;
}
.prog5 {
    box-shadow: -16vw 4vw 0px 0px #31C057,
                -8vw 4vw 0px 0px #31C057,
                0vw 4vw 0px 0px #31C057,
                8vw 4vw 0px 0px #31C057,
                16vw 4vw 0px 0px #31C057;
}

/*___________________________________________________________*/

.logo {
    margin-top: -80vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50vh;
    height: 30vh;
    width: 100%;
    opacity: 1;
    background: url(icons/logo_main.svg) no-repeat;
    background-size: 30vh 30vh;
    background-position:center
}

.screen1 {
    border-radius: 0px;
    background-color: #fff;
    margin-left: 3vh;
    height: 84vh;
    margin-top: 13vh;
    opacity: 0.90;
    margin-right: 3vh;
}
.clear {
    opacity: 0;
}

.options {
    list-style: none;
    padding: 2vw;
    height: 7vw;
    border: 2px solid #ccc;
    border-radius: 9vw;
    margin-left: 2vh;
    margin-right: 2vh;
    margin-bottom: 2vh;
}

.options li {
    padding-top: 0vw;
    width: 80vw;
    padding-left: 2vw;
}

.doubleoption {
    position: relative;
    opacity: 1;
    height: calc(11vw+4vh);
}

.cameraButton{
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
}

.check {    
    margin-left: auto;
}

.on{
    background: url(icons/check_on.svg) no-repeat;
    background-size: 7vw;
    width:7vw;
    height: 7vw;
    padding-right: 0.1vw;
    margin-top: -6.83vw;
}

.off{
    background: url(icons/check_off.svg) no-repeat;
    background-size: 7vw;
    width:7vw;
    height: 7vw;
    padding-right: 0.1vw;
    margin-top: -6.83vw;
}

.camera{
    background: url(icons/camera.svg) no-repeat;
    background-size: 7vw;
    width:7vw;
    height: 7vw;
    padding-right: 0.5vw;
    margin-top: -6.5vw;
}

.upload{
    background: url(icons/upload.svg) no-repeat;
    background-size: 7vw;
    width:7vw;
    height: 7vw;
    padding-right: 0.5vw;
    margin-top: -6.5vw;
}

/*___________________________________________________________*/

footer {
    position: absolute;
    margin-top: -4vh;
    width: 100%;
}

.nav {
}
.back {
    padding: 2vw;
    border: 0.5vw solid #31C057;
    height: 5vw;
    margin-top: -8vw;
    width: 18.5vw;
    border-radius: 10vw;
    margin-left: 5vh;
    text-align: center;
}
.back p {
    margin: auto;
    padding: 1.5vw 1.75vw 2.5vw 1.75vw;
    margin-top: -2.5vw;
    width: 20vw;
    height: 6vw;
    margin-left: -2.5vw;
    color: #31C057
    
}
.next {
    padding: 2vw;
    background: #31C057;
    height: 6vw;
    width: 20vw;
    margin-top: -10vw;
    border-radius: 10vw;
    margin-left: auto;
    margin-right: 5vh;
    text-align: center;
}
.next p {
    margin: auto;
    padding: 1.5vw 2vw 2.5vw 2vw;
    margin-top: -2vw;
    width: 20vw;
    height: 6vw;
    margin-left: -2vw;
    color: #fff
}

.button {
    padding: 2vw;
    background: #31C057;
    height: 6vw;
    width: 70vw;
    margin: -10vw auto 0vw auto;
    border-radius: 10vw;
    text-align: center;
}

.button p {
    margin: auto;
    padding: 1.5vw 2vw 2.5vw 2vw;
    margin-top: -2vw;
    height: 6vw;
    margin-left: -2vw;
    color: #fff
}
.red {
    background-color: #F24722;
    width: auto;
    margin: -20vw 5vh 10vw 5vh;
}