*{
    font-family:'opensans';
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'opensans';
    src: url('Open_Sans/OpenSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'opensans';
    src: url('Open_Sans/OpenSans-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'opensans';
    src: url('Open_Sans/OpenSans-SemiBold.ttf');
    font-weight: normal;
    font-style: italic;
}
strong {
    font-family: 'opensans';
    font-weight: bold;
}
em {
    font-family: 'opensans';
    font-weight: normal;
    font-style: italic;
    font-size: 1.1rem;
}

h1 {
    font-weight: bold;
    min-height: 20px;
    height: 5vh;
    max-height: 40px;
    padding-left: 5px;
    font-size: 1.6rem;
}

h2 {
    font-size: 1.1rem;
    margin-left: 10px;
}
a {
    text-decoration: none;
    color: inherit;
}

.tshadow {
    text-shadow: 4px 4px 4px #00000099;
}

.bshadow {
    box-shadow: 4px 4px 4px #00000099;
}

/*___________________________________________________________*/

body {
    overflow-x: hidden;
    margin: auto;
    background-color: black;
}
.backbike {
    background: url('background_images/yellowbike1920sq.jpg')no-repeat center;
    margin: auto;
    background-position: 0px 0px;
    background-size: cover;
    height: 100vw;
    max-height: 100vh;
}

/*___________________________________________________________*/

header{
    position: relative;
    width: 100%;
    background-color: #fff;
}

.title {
    background: url(icons/bikespace_header.svg) no-repeat;
    background-position: center;
    background-size: 150px;
    height: 45px;
    margin: auto;
    width: 200px;
}

#error {
    position: relative;
    z-index: 10;
    padding: 0px 20px 0px 20px;
    width: 375px;
    margin: -10px auto -55px auto;;
    height: 45px;
    background-color: #F24722;
}

#error h1 {
    padding-top: 5px;
}

/*___________________________________________________________*/

.progress{
    width: 14px;
    border-radius: 7px;
    height: 14px;
    margin: 8px auto 0px auto;
}

.prog1 {
    background-color: #ccc;
    box-shadow: -80px 0px 0px 0px #31C057,
                -40px 0px 0px 0px #ccc,
                40px 0px 0px 0px #ccc,
                80px 0px 0px 0px #ccc;
}
.prog2 {
    background-color: #ccc;
    box-shadow: -80px 0px 0px 0px #31C057,
                -40px 0px 0px 0px #31C057,
                40px 0px 0px 0px #ccc,
                80px 0px 0px 0px #ccc;
}
.prog3 {
    background-color: #31C057;
    box-shadow: -80px 0px 0px 0px #31C057,
                -40px 0px 0px 0px #31C057,
                40px 0px 0px 0px #ccc,
                80px 0px 0px 0px #ccc;
}
.prog4 {
    background-color: #31C057;
    box-shadow: -80px 0px 0px 0px #31C057,
                -40px 0px 0px 0px #31C057,
                40px 0px 0px 0px #31C057,
                80px 0px 0px 0px #ccc;
}
.prog5 {
    background-color: #31C057;
    box-shadow: -80px 0px 0px 0px #31C057,
                -40px 0px 0px 0px #31C057,
                40px 0px 0px 0px #31C057,
                80px 0px 0px 0px #31C057;
}

/*___________________________________________________________*/


.logo {
    margin-top: -587px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 238px;
    height: 300px;
    width: 100%;
    opacity: 1;
    background: url(icons/logo_main.svg) no-repeat;
    background-size: 200px 200px;
    background-position:center
}

.maintitle {
    font-weight: bold;
    padding-top: 280px;
    text-align: center;
    color: #fff;
    margin-left: 0px;
    padding-bottom: 0px;
    font-size: 3.5rem;
}
/*___________________________________________________________*/

.screen1 {
    
    padding: 5px 20px 20px 20px;
    border-radius: 0px;
    background-color: #fff;
    width: 375px;
    height: 84vh;
    max-height: 620px;
    min-height: 510px;
    opacity: 0.92;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.clear {
    opacity: 0;
}

ul {
    margin-left: -40px;
}

.options {
    list-style: none;
    padding: 13px;
    background: #eee;
    height: 24px;
    border-radius: 30px;
    margin-bottom: 20px;
}

.options li {
    width: 80%;
    padding-left: 10px;
}

.doubleoption {
    position: relative;
    opacity: 1;
    height: calc(50px);
}

.cameraButton{
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
}


.check {    
    margin-left: auto;
}

.on{
    background: url(icons/check_on.svg) no-repeat center;
    shape-rendering: geometricPrecision;
    width: 32px;
    margin-top: -28px;
    height: 32px;
    margin-right: -3px;
}

.off{
    background: url(icons/check_off.svg) no-repeat center;
    shape-rendering: geometricPrecision;
    width: 32px;
    margin-top: -28px;
    height: 32px;
    margin-right: -3px;
}

.last {
    padding-bottom: 80px;
}
/*___________________________________________________________*/

footer {
    overflow: hidden;
    margin: auto;
    margin-top: -80px;
    width: 375px;
    height: 50px;
}

.nav {
    margin-top: 0px;
    width: 375px;
    position: absolute;
}
.back {
    padding: 13px;
    border: 3px solid #31C057;
    height: 18px;
    width: 80px;
    border-radius: 30px;
    text-align: center;
}
.back p {
    margin: auto;
    width: 80px;
    margin-left: -15px;
    padding: 13px 15px 13px 15px;
    margin-top: -17px;
    color: #31C057
}
.next {
    padding: 13px;
    margin-left: auto;
    background: #31C057;
    height: 24px;
    width: 86px;
    margin-top: -50px;
    border-radius: 30px;
    text-align: center;
}
.next p {
    margin: auto;
    width: 86px;
    margin-left: -13px;
    padding: 13px;
    margin-top: -13px;
    color: #fff
}
.button {
    padding: 13px;
    margin: auto;
    background: #31C057;
    height: 24px;
    width: 240px;
    border-radius: 30px;
    text-align: center;
}

.button p {
    margin: auto;
    width: 240px;
    margin-left: -13px;
    padding: 13px;
    margin-top: -13px;
    color: #fff
}